.add-note-form {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.add-note-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

.add-note-button {
    padding: 10px 20px;
    background-color: #4b7777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add-note-button:hover {
    background-color: #436a6a;
}
